:root {
  --font-head: "Raleway", sans-serif;
  --font-body: "Open Sans", sans-serif;

  --bg-intro: hsl(217, 28%, 15%);
  --bg-main: hsl(218, 28%, 13%);
  --bg-footer: hsl(216, 53%, 9%);
  --bg-testimonials: hsl(219, 30%, 18%);
  --accent-cyan: hsl(176, 68%, 64%);
  --acccent-blue: hsl(198, 60%, 50%);
  --accent-red: hsl(0, 100%, 63%);
  --white: hsl(0, 0%, 100%);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 0.875rem;

  /* background-color: var(--bg-intro); */
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

p,
a,
li {
  font-size: 0.875rem;
}

p,
h1,
h3,
h4,
h5 {
  padding-bottom: 1rem;
}

footer ul {
  padding: 0;
}

footer ul li {
  list-style: none;
}

.container {
  padding: 0 2rem;
}

.logo {
  width: 60%;
}

.btn {
  background: linear-gradient(90deg, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  border-radius: 3em;
  width: 15rem;
  margin: 0 auto;
}

.header,
.feature {
  text-align: center;
}

.header img {
  padding: 1.15rem 0;
}

.header-title {
  font-size: 1.5rem;
}

.intro {
  max-width: 32rem;
  margin: 0 auto;
}

.feature {
  padding: 8rem 2rem;
  max-width: 48rem;
  display: grid;
}

.feature-title {
  font-size: 1.15rem;
}

.feature-card {
  padding: 2rem 0;
}

.feature-card img {
  margin: 0 auto;
  padding-bottom: 1.5rem;
}

.team {
  display: grid;
  margin: 0 auto;
}

.team-text {
  padding: 2rem 0;
}

.team-title {
  font-size: 1.1rem;
}

.team a {
  display: flex;
  align-items: center;
}

.team a span {
  padding-left: 0.25rem;
}

.testimonial {
  position: relative;
}

.testimonial-card {
  background-color: var(--bg-testimonials);
  padding: 1rem;
  margin: 1rem;
}

.testimonial-card-list::before {
  content: url(./images/bg-quotes.png);
  position: relative;
  top: 1.4rem;
  left: 1.5rem;
}

.testimonial-card p {
  padding: 0;
}

.testimonial-author {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.testimonial-author img {
  width: 10%;
  height: 10%;
  border-radius: 50%;
}

.testimonial-author-name {
  font-weight: 700;
}

.testimonial-author-title {
  font-size: 0.65rem;
}

.form-container {
  background-color: var(--bg-main);
  text-align: center;
  padding: 2rem 1.5rem;
  border-radius: 0.3rem;
  box-shadow: 1px 3px 3px hsl(0, 0%, 5%);
  position: relative;
  top: 14rem;
  max-width: 40rem;
  margin: 0 auto;
}

.email {
  border-radius: 3em;
  width: 100%;
}

.footer {
  padding-top: 15rem;
}

.footer {
  background-color: var(--bg-footer);
}

.footer a {
  color: var(--white);
}

.footer-address,
.footer-info-tel,
.footer-info-email {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  padding-top: 1rem;
}

.footer-about-list {
  padding-top: 3rem;
}

.footer-social-list {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.footer-social-list li {
  border: 1px solid var(--accent-cyan);
  border-radius: 50%;
  padding: 1rem;
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  margin-top: -13rem;
}

.form-sub {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email {
  max-width: 24rem;
}

.feature-card {
  max-height: 21.625rem;
}

@media (width>=1024px) {
  .header-title {
    font-size: 2.25rem;
  }
  .feature-card-list {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .team {
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }

  .team-title {
    font-size: 2rem;
  }

  .testimonial {
    padding: 5rem 0 0 0;
  }

  .testimonial-card-list::before {
    position: absolute;
    top: 4.4rem;
    left: 0.5rem;
    z-index: -9;
  }

  .form-sub {
    flex-direction: row;
    gap: 1rem;
    padding-top: 1.5rem;
    align-items: flex-start;
  }
  .btn {
    height: 3.12rem;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
  }

  .footer-list-items {
    display: flex;
    align-items: flex-start;
    padding: 2rem 0;
    justify-content: space-between;
    gap: 1rem;
  }

  .footer img:nth-child(1) {
    width: 10%;
  }

  .footer-address {
    width: 35%;
  }
  .footer-info {
    width: 20%;
  }
  .footer-about {
    width: 10%;
  }
  .footer-contact {
    width: 10%;
  }
  .footer-social {
    width: 20%;
  }

  .footer-about-list,
  .footer-info-tel,
  .footer-address {
    padding-top: 0;
  }
}
